$main-color : #C73B0A;
$secondary-color : #532742;
$yellow-color : #FFD89E;
$font-family-montsera : 'Montserrat', sans-serif;
$font-family-montez : 'Montez', cursive;;
$bold  : 700;
$semi-bold   : 600;
$medium : 500;
$regular : 400;
$light : 300;
$thin : 100;
$max-width: 1470px;
$container-gutters: 15px;