@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #FFF;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.navbar {
  margin-top: 26px;
  display: flex;
  font-family: "Inter", sans-serif;
  color: #1E1F4B;
}
.navbar .logo_wraper {
  margin-right: 266px;
}
.navbar .logo_wraper .logo {
  display: block;
  width: 94px;
  height: 38px;
}
.navbar .items {
  display: flex;
  align-items: center;
}
.navbar .items__item {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.hero_wraper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.hero_wraper .col_start {
  max-width: 716px;
  margin-top: 46px;
}
.hero_wraper .col_start h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110px;
  letter-spacing: 0.2px;
  color: #1E1F4B;
}
.hero_wraper .col_start h1 span.products {
  position: relative;
  display: inline-block;
  padding-left: 38px;
  padding-right: 37px;
  color: #706FE5;
  border: solid 7px #706FE5;
}
.hero_wraper .col_start h1 span.products::before, .hero_wraper .col_start h1 span.products::after {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: solid 7px #706FE5;
  background: #fff;
}
.hero_wraper .col_start h1 span.products::before {
  left: -13px;
  top: -18px;
}
.hero_wraper .col_start h1 span.products::after {
  right: -13px;
  top: -18px;
}
.hero_wraper .col_start h1 .bottom_left_circle, .hero_wraper .col_start h1 .bottom_right_circle {
  display: block;
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: solid 7px #706FE5;
  background: #fff;
}
.hero_wraper .col_start h1 .bottom_right_circle {
  right: -13px;
  bottom: -10px;
}
.hero_wraper .col_start h1 .bottom_left_circle {
  left: -13px;
  bottom: -10px;
}
.hero_wraper .col_start p.description {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #2E3E5C;
  mix-blend-mode: normal;
  opacity: 0.8;
  max-width: 555px;
}
.hero_wraper .col_start .cta {
  margin-top: 24px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.hero_wraper .col_start .cta .video_link {
  display: flex;
  align-items: center;
  max-width: 290px;
  border-radius: 40px;
  height: 80px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2E3E5C;
}
.hero_wraper .col_start .cta .video_link i {
  width: 48px;
  height: 48px;
  margin-right: 13px;
  border-radius: 100%;
  background: rgb(234, 231, 251);
  position: relative;
  display: block;
}
.hero_wraper .col_start .cta .video_link i.icon::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  transform: translate(-46%, -50%);
  background-image: url("../assets/images/play_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.hero_wraper .col_end {
  position: relative;
}
.hero_wraper .col_end .bg {
  position: relative;
  height: 531px;
}
.hero_wraper .col_end .bg::after {
  width: 531px;
  height: 100%;
  bottom: 0;
  right: -89px;
  content: "";
  background-image: url("../assets/images/hero_human.png");
  background-repeat: no-repeat;
  background-position: 102px 0;
  background-size: 91%;
  position: absolute;
}
.hero_wraper .col_end .bg::before {
  content: "";
  position: absolute;
  height: 380px;
  width: 380px;
  border-radius: 50%;
  border: solid 10px #706FE5;
  bottom: 0;
  right: -89px;
}
.hero_wraper .col_end .stats_wraper {
  position: relative;
  width: 288px;
  height: 180px;
}
.hero_wraper .col_end .stats_wraper .content {
  padding: 13px 26px;
  position: absolute;
  width: 239px;
  height: 131px;
  top: -100px;
  background: #fff;
  left: 57px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
}
.hero_wraper .col_end .stats_wraper .content .avatars {
  display: flex;
}
.hero_wraper .col_end .stats_wraper .content .avatars .avatar {
  width: 40px;
  height: 40px;
  border: 2px solid #E9E8FA;
  border-radius: 50%;
  margin-left: -15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
}
.hero_wraper .col_end .stats_wraper .content .avatars .avatar:first-child {
  margin-left: 0;
  background-image: url("../assets/images/person-1.png");
}
.hero_wraper .col_end .stats_wraper .content .avatars .avatar:nth-child(2) {
  background-image: url("../assets/images/person-2.png");
}
.hero_wraper .col_end .stats_wraper .content .avatars .avatar:nth-child(3) {
  background-image: url("../assets/images/person-3.png");
}
.hero_wraper .col_end .stats_wraper .content .avatars .avatar:nth-child(4) {
  background-image: url("../assets/images/person-4.png");
}
.hero_wraper .col_end .stats_wraper .content .avatars .avatar:nth-child(5) {
  background-image: url("../assets/images/person-5.png");
}
.hero_wraper .col_end .stats_wraper .content .stars {
  margin-top: 8px;
  position: relative;
}
.hero_wraper .col_end .stats_wraper .content .stars__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #1E1F4B;
  margin-bottom: 8px;
}
.hero_wraper .col_end .stats_wraper .content .stars__reviews {
  display: flex;
  align-items: center;
}
.hero_wraper .col_end .stats_wraper .content .stars__reviews i.icon_star {
  display: inline-block;
  background-image: url("../assets/images/star_icon.png");
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-right: 7px;
}
.hero_wraper .col_end .stats_wraper .content .stars__reviews span {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #1E1F4B;
  opacity: 0.8;
  margin-top: 5px;
}
.hero_wraper .col_end .stats_wraper .content .circle {
  position: absolute;
  width: 83px;
  height: 83px;
  background: #706FE5;
  border-radius: 50%;
  right: -50px;
  top: 100px;
  z-index: -1;
}
.hero_wraper .col_end .stats_wraper .content .circle::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 38px;
  background: #fff;
  top: 0;
  left: 0;
}
.hero_wraper .icons .icon {
  position: absolute;
  content: "";
}
.hero_wraper .icons .icon.figma {
  background-image: url("../assets/images/figma_icon.png");
  background-size: 100%;
  right: -120px;
  top: 35px;
  width: 120px;
  height: 120px;
}
.hero_wraper .icons .icon.adobe {
  background-image: url("../assets/images/adobe_illustrator.png");
  background-size: 100%;
  right: 270px;
  top: 35px;
  width: 100px;
  height: 100px;
}
.hero_wraper .icons .icon.scketch {
  background-image: url("../assets/images/sketch_icon.png");
  background-size: 100%;
  right: 400px;
  top: 2px;
  width: 59px;
  height: 59px;
}

.partners_wraper {
  position: relative;
  height: 240px;
  background: rgba(112, 111, 229, 0.02);
  padding-top: 60px;
}
.partners_wraper h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #1E1F4B;
}
.partners_wraper .logos {
  display: flex;
  column-gap: 80px;
  margin-top: 50px;
  justify-content: center;
}
.partners_wraper .logos img {
  display: inline-block;
  object-fit: contain;
  width: 109px;
}

.realisations_wraper {
  margin-top: 15px;
  padding-top: 98px;
}
.realisations_wraper h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #1E1F4B;
}
.realisations_wraper p.description {
  margin-top: 14px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #2E3E5C;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.realisations_wraper .cards {
  margin-top: 40px;
  min-height: 386px;
  column-gap: 19px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50%;
  grid-template-areas: "item item";
}
.realisations_wraper .cards .cards_end .card_image {
  width: 263px;
  height: 188px;
}

.testimonials_wraper {
  position: relative;
  background: rgba(112, 111, 229, 0.02);
  padding-top: 90px;
}
.testimonials_wraper .bg_1, .testimonials_wraper .bg_2 {
  position: absolute;
  width: 85.48px;
  height: 70.93px;
  background-image: url("../assets/images/testimonial_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.testimonials_wraper .title_wraper {
  display: flex;
  justify-content: center;
}
.testimonials_wraper .title_wraper h2.title {
  width: 334px;
  height: 132px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  text-transform: capitalize;
  color: #1E1F4B;
}
.testimonials_wraper .testimonial_wraper {
  display: flex;
  justify-content: center;
}
.testimonials_wraper .testimonial_wraper .testimonial {
  margin-top: 69px;
  max-width: 669px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  color: #2E3E5C;
  opacity: 0.5;
  position: relative;
}
.testimonials_wraper .testimonial_wraper .testimonial::before, .testimonials_wraper .testimonial_wraper .testimonial::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 122px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.testimonials_wraper .testimonial_wraper .testimonial::before {
  background-image: url("../assets/images/quote_left_icon.png");
  left: -89px;
  top: -80px;
}
.testimonials_wraper .testimonial_wraper .testimonial::after {
  background-image: url("../assets/images/quote_right_icon.png");
  right: -89px;
  top: -80px;
}
.testimonials_wraper .testimonial_avatars {
  margin-top: 70px;
  display: flex;
  column-gap: 70px;
  justify-content: center;
}
.testimonials_wraper .testimonial_avatars h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #2E3E5C;
  opacity: 0.8;
}
.testimonials_wraper .testimonial_avatars h2 {
  margin-top: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #1E1F4B;
  margin-bottom: 4px;
}
.testimonials_wraper .testimonial_avatars .current_testimonier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials_wraper .testimonial_avatars .avatar {
  border-radius: 50%;
  padding: 4px;
}
.testimonials_wraper .testimonial_avatars .avatar.current {
  border: solid 5px #706FE5;
  max-width: 86.11px;
  height: 86.11px;
  display: inline-block;
}
.testimonials_wraper .testimonial_avatars > .avatar:nth-child(1) {
  max-width: 48.11px;
  height: 48.11px;
}
.testimonials_wraper .testimonial_avatars > .avatar:nth-child(2) {
  max-width: 67.11px;
  height: 67.11px;
}
.testimonials_wraper .testimonial_avatars > .avatar:nth-child(4) {
  max-width: 67.11px;
  height: 67.11px;
}
.testimonials_wraper .testimonial_avatars > .avatar:nth-child(5) {
  max-width: 48.11px;
  height: 48.11px;
}
.testimonials_wraper .bg_1 {
  left: 60px;
  top: -20px;
}
.testimonials_wraper .bg_2 {
  right: -60px;
  bottom: 58px;
}

.newsletter_wraper {
  padding-top: 119px;
}
.newsletter_wraper .col_start h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #1E1F4B;
}
.newsletter_wraper .col_start p {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  color: #1B1D21;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-bottom: 50px;
}
.newsletter_wraper .col_start .input_wraper {
  display: flex;
  align-items: center;
  padding: 16px;
  background: rgb(234, 231, 251);
  box-shadow: 0 26px 40px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  max-width: 491px;
  width: 100%;
  height: 56px;
}
.newsletter_wraper .col_start .input_wraper .email_icon {
  background-image: url("../assets/images/email_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: inline-block;
  width: 24px;
  height: 24px;
}
.newsletter_wraper .col_start .input_wraper input {
  outline: none;
  width: 225px;
  margin-left: 16px;
  margin-right: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background: rgb(234, 231, 251);
}
.newsletter_wraper .col_start .input_wraper input, .newsletter_wraper .col_start .input_wraper input:focus {
  border: none;
}
.newsletter_wraper .col_start .input_wraper input::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 36px;
  color: #1B1D21;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-bottom: 50px;
}
.newsletter_wraper .col_end .service_box {
  max-width: 262px;
  min-height: 158px;
}
.newsletter_wraper .col_end .service_box .icon_box {
  max-width: 50px;
  height: 50px;
  border-radius: 12px;
  background: rgb(234, 231, 251);
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter_wraper .col_end .service_box .icon_box i {
  display: inline-block;
  width: 40%;
  height: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.newsletter_wraper .col_end .service_box .icon_box i.ui_icon {
  background-image: url("../assets/images/uiux_icon.png");
}
.newsletter_wraper .col_end .service_box .icon_box i.branding_icon {
  background-image: url("../assets/images/logo_branding_icon.png");
}
.newsletter_wraper .col_end .service_box .icon_box i.app_icon {
  background-image: url("../assets/images/app_design_icon.png");
  background-size: contain;
}
.newsletter_wraper .col_end .service_box .icon_box i.website_icon {
  background-image: url("../assets/images/website_icon.png");
}
.newsletter_wraper .col_end .service_box .title * {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1E1F4B;
  margin-bottom: 10px;
}
.newsletter_wraper .col_end .service_box .description * {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2E3E5C;
  mix-blend-mode: normal;
  opacity: 0.8;
}

footer.footer {
  margin-top: 140px;
  background: #1E1F4B;
  min-height: 428px;
}
footer.footer .top {
  display: flex;
  position: relative;
  height: 150px;
  align-items: center;
  justify-content: space-between;
}
footer.footer .top::after {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.15;
  content: "";
  mix-blend-mode: normal;
  border-bottom: solid 1px #EAEEF3;
}
footer.footer .top .logo {
  max-width: 94px;
  min-height: 38px;
  object-fit: contain;
}
footer.footer .top .socials {
  display: flex;
  column-gap: 16px;
}
footer.footer .top .socials .icon {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: #706FE5;
  background-position: center;
  background-size: 35%;
  background-repeat: no-repeat;
}
footer.footer .top .socials .icon.facebook {
  background-image: url("../assets/images/facebook_icon.png");
}
footer.footer .top .socials .icon.instagram {
  background-image: url("../assets/images/instagram_icon.png");
}
footer.footer .top .socials .icon.twitter {
  background-image: url("../assets/images/twitter_icon.png");
}
footer.footer .top .socials .icon.github {
  background-image: url("../assets/images/github_icon.png");
}
footer.footer .bottom {
  margin-top: 48px;
}
footer.footer .bottom .company {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 19px;
}
footer.footer .bottom .d-flex {
  justify-content: space-between;
}
footer.footer .bottom .menu_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 82px;
}
footer.footer .bottom .menu_items__item_link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.55;
}
footer.footer .bottom .copyright {
  margin-top: 89px;
  display: flex;
  justify-content: center;
}
footer.footer .bottom .copyright p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.55;
}

.d-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50%;
  grid-template-areas: "item item";
}

.d-flex {
  display: flex;
}
.d-flex.align-center {
  align-items: center;
}

.col-gap-29 {
  column-gap: 29px;
}

.card {
  margin-top: 16px;
  margin-bottom: 16px;
}
.card .card_image {
  margin-bottom: 14px;
}
.card .card_image img {
  border-radius: 30px;
}
.card .card_body .card_meta {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #2E3E5C;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.card .card_body .card_title * {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #2E3E5C;
}
.card .card_body .card_content * {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #2E3E5C;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 40px;
  gap: 10px;
  border-radius: 12px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.btn.primary {
  background: #706FE5;
  color: #FFFFFF;
}

.pr-94 {
  margin-right: 94px;
}

.mt-60 {
  margin-top: 60px;
}

/*# sourceMappingURL=app.css.map */
