$main-color  : #B0D0EF;
$secondary-color  : #7D8FA5;
$captor-border-color  : #D5E6FA;
$captor-flash-color  : #F6EFE0;
$captor-before-color  : #051123;
$captor-after-vcolor  : #174D6E;
$captor-after-hcolor  : #110B04;
$apple-crop-color : #95AEC7;
$apple-crop-color-2 : #97B2CC;
$apple-crop-color-3 : #93AAC3;