* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.flex {
  display: flex;
}

.items-center {
  place-items: center;
}

.justify-center {
  place-content: center;
}

.space-between {
  place-content: space-between;
}

.content-end {
  justify-content: flex-end;
}

.items-end {
  align-items: flex-end;
}

.gap-1 {
  gap: .5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

.gap-5 {
  gap: 2.5rem;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem;
}

.container {
  max-width: 400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.content {
  padding: 32px 4px 62px;
}

.text-primary {
  color: #0d6efd;
}

.text-muted {
  color: rgb(140, 140, 140);
}

.todo {
  color: #0d6efd;
  background: #fff;
  padding: 16px 10px;
  border-radius: 12px;
  position: relative;
  margin-bottom: 2rem;
  box-shadow: rgba(240, 46, 170, 0.4) 0 5px, rgba(240, 46, 170, 0.3) 0 10px, rgba(240, 46, 170, 0.2) 0 15px, rgba(240, 46, 170, 0.1) 0 20px, rgba(240, 46, 170, 0.05) 0 25px;
  transition: all .6s;
  animation: revealingIn 3s cubic-bezier(0.16, 1, 0.3, 1) forwards,
  revealingOut 3s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  &:hover {
    color: #0d6efd;
    background: rgb(234, 231, 251);
  }

  &.success {
    background: #198754;
    position: relative;

    .text-muted {
      color: #f8f9fa;
    }

    &::after, &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
    }

    &::after {
      content: "DONE";
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 0;
      opacity: .7;
    }

    &::before {
      content: "";
      background: #198754;
      opacity: .9;
    }

    &, .title * {
      color: #fff;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes revealingIn {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes revealingOut {
  0% {
    transform: translateX(-100%) rotate(-90deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}