$max-width: 1140px;
$container-gutters: 15px;
$blue-color : #706FE5;
$black-color : #1E1F4B;
$secondary-color : #2E3E5C;

$font-family-inter: 'Inter', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
$bold  : 700;
$semi-bold   : 600;
$medium : 500;
$regular : 400;
$light : 300;
$thin : 100;